#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
		zmk,kscan = &kscan0;
		zmk,matrix_transform = &default_transform;
		zephyr,display = &lcd0;
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,uart-mcumgr = &uart0;
		zephyr,bt-mon-uart = &uart0;
		zephyr,bt-c2h-uart = &uart0;
    };
	default_transform: keymap_transform_0 {
		compatible = "zmk,matrix-transform";
		columns = <21>;
		rows = <6>;

		map = <
				     RC(2,2)  RC(2,1)  RC(2,0)  
					 RC(1,2)  RC(1,1)  RC(1,0)  
			RC(0,3)  RC(0,2)  RC(0,1)  RC(0,0)
		>;
	};

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
		diode-direction = "col2row";
        row-gpios
			= <&gpio0 22 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpio0 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpio0 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpio0 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpio0 17 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpio0 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			;
		col-gpios
			= <&gpio1 14 GPIO_ACTIVE_HIGH>
			, <&gpio1 13 GPIO_ACTIVE_HIGH>
			, <&gpio1 12 GPIO_ACTIVE_HIGH>
			, <&gpio1 11 GPIO_ACTIVE_HIGH>
			, <&gpio1 10 GPIO_ACTIVE_HIGH>
			, <&gpio0 10 GPIO_ACTIVE_HIGH>
			, <&gpio0 9  GPIO_ACTIVE_HIGH>
			, <&gpio1 7  GPIO_ACTIVE_HIGH>
			, <&gpio1 6  GPIO_ACTIVE_HIGH>
			, <&gpio1 5  GPIO_ACTIVE_HIGH>
			, <&gpio1 4  GPIO_ACTIVE_HIGH>
			, <&gpio1 3  GPIO_ACTIVE_HIGH>
			, <&gpio1 2  GPIO_ACTIVE_HIGH>
			, <&gpio1 1  GPIO_ACTIVE_HIGH>
			, <&gpio1 0  GPIO_ACTIVE_HIGH>
			, <&gpio0 25 GPIO_ACTIVE_HIGH>
			, <&gpio0 24 GPIO_ACTIVE_HIGH>
			, <&gpio0 23 GPIO_ACTIVE_HIGH>
			, <&gpio0 13 GPIO_ACTIVE_HIGH>
			, <&gpio0 14 GPIO_ACTIVE_HIGH>
			, <&gpio0 15 GPIO_ACTIVE_HIGH>
			;
    };

	left_encoder:encoder_left {
		compatible = "alps,ec11";
		label = "LEFT_ENCODER";
		a-gpios = <&gpio0 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
	    b-gpios = <&gpio1 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
	    resolution = <4>;
	};
	sensors {
	    compatible = "zmk,keymap-sensors";
	    sensors = <&left_encoder>;
	};
};

// &i2c0 {
// 	status = "okay";

// 	oled: ssd1306@3c {
// 		compatible = "solomon,ssd1306fb";
// 		reg = <0x3c>;
// 		label = "DISPLAY";
// 		width = <128>;
// 		height = <32>;
// 		segment-offset = <0>;
// 		page-offset = <0>;
// 		display-offset = <0>;
// 		multiplex-ratio = <31>;
// 		segment-remap;
// 		com-invdir;
// 		com-sequential;
// 		prechargep = <0x22>;
// 	};
// };

